@font-face {
  font-family: RegularFont;
  src: url("~/assets/fonts/LeagueSpartan-Regular.ttf");
}

.ar-regular-font {
  font-family: RegularFont, sans-serif;
}

/* ------------------------------------------------- */

@font-face {
  font-family: BlackFont;
  src: url("~/assets/fonts/LeagueSpartan-Black.ttf");
}

.ar-black-font {
  font-family: BlackFont, sans-serif;
}

/* ------------------------------------------------- */

@font-face {
  font-family: BoldFont;
  src: url("~/assets/fonts/LeagueSpartan-Bold.ttf");
}

.ar-bold-font {
  font-family: BoldFont, sans-serif;
}

/* ------------------------------------------------- */

@font-face {
  font-family: ExtraBoldFont;
  src: url("~/assets/fonts/LeagueSpartan-ExtraBold.ttf");
}

.ar-extra-bold-font {
  font-family: ExtraBoldFont, sans-serif;
}

/* ------------------------------------------------- */

@font-face {
  font-family: LightFont;
  src: url("~/assets/fonts/LeagueSpartan-Light.ttf");
}

.ar-light-font {
  font-family: LightFont, sans-serif;
}

/* ------------------------------------------------- */

@font-face {
  font-family: ExtraLightFont;
  src: url("~/assets/fonts/LeagueSpartan-ExtraLight.ttf");
}

.ar-extra-light-font {
  font-family: ExtraLightFont, sans-serif;
}

/* ------------------------------------------------- */

@font-face {
  font-family: MediumFont;
  src: url("~/assets/fonts/LeagueSpartan-Medium.ttf");
}

.ar-medium-font {
  font-family: MediumFont, sans-serif;
}

/* ------------------------------------------------- */

@font-face {
  font-family: RegularFont;
  src: url("~/assets/fonts/LeagueSpartan-Regular.ttf");
}

.ar-regular-font {
  font-family: RegularFont, sans-serif;
}

/* ------------------------------------------------- */

@font-face {
  font-family: SemiBoldFont;
  src: url("~/assets/fonts/LeagueSpartan-SemiBold.ttf");
}

.ar-semi-bold-font {
  font-family: SemiBoldFont, sans-serif;
}

/* ------------------------------------------------- */

@font-face {
  font-family: ThinFont;
  src: url("~/assets/fonts/LeagueSpartan-Thin.ttf");
}

.ar-thin-font {
  font-family: ThinFont, sans-serif;
}


/* ------------------------------------------------- */
// navbar font
@font-face {
  font-family: InconsolataMediumFont;
  src: url("~/assets/fonts/Inconsolata-Medium.ttf");
}

.ar-navbar-medium-font {
  font-family: InconsolataMediumFont, sans-serif;
}

@font-face {
  font-family: InconsolataBoldFont;
  src: url("~/assets/fonts/Inconsolata-Bold.ttf");
}

.ar-navbar-bold-font {
  font-family: InconsolataBoldFont, sans-serif;
}



@font-face {
  font-family: InconsolataExtraBoldFont;
  src: url("~/assets/fonts/Inconsolata-ExtraBold.ttf");
}

.ar-navbar-extra-bold-font {
  font-family: InconsolataExtraBoldFont, sans-serif;
}




