@font-face {
  font-family: PoppinsBlack;
  src: url("fonts/Poppins-Black.ttf");
}

.font-black {
  font-family: PoppinsBlack, sans-serif;
}

@font-face {
  font-family: Medium;
  src: url("fonts/Poppins-Medium.ttf");
}

.font-medium {
  font-family: Medium, sans-serif;
}


@font-face {
  font-family: SemiBold;
  src: url("fonts/Poppins-SemiBold.ttf");
}

.font-semi-bold {
  font-family: SemiBold, sans-serif;
}
